<header class="header">
	<div class="logo"><img style="height: 65px;
    width: 113px;" src="assets/logo.png"></div>
	<nav class="navigation">
		<a href="#">Services</a>
        <a href="#">User Management</a>
        <a href="#">My Orders</a>
        <a href="#">Reports</a>
        <a href="#">Stamp Inventory</a>
        <a href="#">Bar Codes</a>
        <a href="#">Invoice</a>
	</nav>
  <div class="menu" (click)="onMenu()">
    <input type="checkbox" hidden id="hamburger" />
    <label for="hamburger" [hidden]="isOpen">&#9776;</label>
    <label for="hamburger" [hidden]="!isOpen">&#10006;</label>
  </div>
  </header>
  