<div class="fotter_css">
    <footer class="footer">
        <div class="social-icons">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <!-- Add more social icons here -->
        </div>
        <p class="copyright">&copy; 2023 All Rights Reserved.</p>
      </footer>
      
</div>
