<!-- <div class="donutCls" [chart]="donutChart"></div> -->

<div class="card">
    <div class="card-body">
      <div class="horizontal-card-container">
        <div class="card card-css">
          <p class="frequently-used-card">E-Sign Count</p>
          <div class="donutCls" [chart]="donutChart"></div>
        </div>
        <div class="card card-css">
            <p class="frequently-used-card">E-Stamp Count</p>
            <div class="donutCls" [chart]="donutStampChart"></div>
          </div>
      </div>
    </div>
  </div>
  