<div class="card">
    <div class="card-body">
      <h2>Frequently Used</h2>
      <div class="horizontal-card-container">
        <div class="card card-css">
          <h3>Contract Execution Upload</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <a href="#" class="color_css">Get Started >> </a>
        </div>
        <div class="card card-css">
            <h3>E-Stamp Service</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <a href="#" class="color_css">Get Started >> </a>
          </div>
          <div class="card card-css">
            <h3>E-Sign Service</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <a href="#" class="color_css">Get Started >> </a>
          </div>
      </div>
    </div>
  </div>
  