.card {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin-top: 6px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
  }
  
  .card-body {
    padding-left: 15px;
    padding-top: 10px;
    color: black;
  }
  
  .horizontal-card-container {
    display: flex; /* Display cards horizontally */
    flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
  }
  
  .card-css {
    border: 1px solid #a488b9;
    flex: 0 0 30.33%; /* Flex property to control card width */
    padding: 5px;
    margin-right: 10px; /* Add some spacing between cards */
    padding-top: 10px;
    padding-bottom: 6px;
  }
  .color_css{
    color: #a488b9;
    margin-top: 10px;
  }
  @media only screen and (max-width: 768px){
    .card-css{
      flex: 0 0 27.33%;
    }
  }
  @media only screen and (max-width: 425px){
    .card-css{
      flex: 0 0 25.33%;
    }
  }
  